/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}


@media screen and (min-width:1024px) {
	#desktop {
		display:block;
	}
	#mobile {
		display: none;
	}
}
@media screen and (max-width:1023px) {
	#desktop {
		display:none;
	}
	#mobile {
		display: block;
	}
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (max-width:1023px) {
	#mobile .content {
		z-index: 999999;
	}
}

@media screen and (max-width:980px) {
	#mobile .em-gallery {
		height: 100px;
	    position: relative;
	    margin: auto;
	    width: 90%;
	    left: 0%;
	    top: 20%;
	}
	#mobile .em-gallery-row {
		width: 100%;
	}
	#mobile .em-gallery-col {
		width: 48%;
		float:left;
		padding: 2px;
	}
	#mobile .em-gallery img {
		height: auto;
		width: 100%;
	}
	
}

@media (min-width: 768px) and (max-width: 1024px) {
  
	#mobile .slide-1-media-spacer {
		margin-top: 16%;
	}
	#mobile .slide-2-media-spacer {
		margin-top: 14%;
	}
	#mobile .slide-3-media-spacer {
		margin-top: -3%;
	}
	#mobile .about-img {
		margin-top: 6%;
    	left: 51% !important;
	}
	#mobile .em-content {
		width: 60%;
	}

}	

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
	#mobile .slide-1-media-spacer {
		margin-top:27%;
	}
	#mobile .slide-2-media-spacer {
		margin-top: 14%;
	}
	#mobile .slide-3-media-spacer {
		margin-top: -3%;
	}
	#mobile .about-img {
		margin-top: 6%;
    	left: 51% !important;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

	#mobile .slide-1-media-spacer {
		margin-top:27%;
	}
	#mobile .slide-2-media-spacer {
		margin-top: 14%;
	}
	#mobile .slide-3-media-spacer {
		margin-top: -3%;
	}
	#mobile .about-img {
		margin-top: 6%;
    	left: 51% !important;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
	#mobile .slide-1-media-spacer {
		margin-top:27%;
	}
	#mobile .slide-2-media-spacer {
		margin-top: 14%;
	}
	#mobile .slide-3-media-spacer {
		margin-top: -3%;
	}
	#mobile .about-img {
		margin-top: 6%;
    	left: 51% !important;
	}
	#mobile .slide-3-content-1 {
	    width: 100%;
	    float: right;
	    left: 2%;
	    padding: 10px;
	    top:16%;
	    z-index: 99999;
	}
	#mobile .sticky-img-1 {
    width: 100%;
    float: right;
    top: 28%;
    right: -44%;
    display: none;
	}
	#mobile .content-title {
    bottom: 1%;
    left: 4%
	}
	#mobile .prio-layer {
		z-index: 999;
	}
	#mobile .em-gallery {
    height: 100px;
    position: relative;
    margin: auto;
    width: 100%;
    left: 0%;
    top: 2%;
	}  
	#mobile .em-gallery-col {
    width: 64%;
    float: none;
    padding: 2px;
    text-align: center;
    margin: auto;
	}	
}
@media screen and (max-width:320px) {
	#mobile .em-gallery {
		top:10%;
	}
	#mobile .slide-2-media-spacer {
    margin-top: 3%;
	}
	#mobile .slide-3-media-spacer {
    	margin-top: -15%;
	}
	#mobile .content-title {
		font-size: 50px !important;
	}
	#mobile .content {
		padding-right: 40px;
   	 	width: 100%;
	}
}