html, body {
	height:100%;
	width: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat;
}
h1 {
    font-size: 64px !important;
}
#content-slide {
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#slides {
	width: 200%;
	height: 200%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("../../media/outer1.png");
	background-size: cover;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}
#content-slide-1 {
	
	background-size: cover;
	background-position: center;
}
#content-slide-2 {
	
	background-size: cover;
	-ms-transform: translate(0%, 100%);
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    z-index: 99;
}
#content-slide-3 {
	
	background-size: cover;
	-ms-transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
    z-index: 9;
}
#content-slide-4 {

	background-size: cover;
	-ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
}
.indicator {
	position: absolute;
	height: 400%;
	width: 20px;
	left:0;
	top:0;
 }

 /* Toggle Icon */

 .em-icon {
    background: transparent;
    position: fixed;
    right: 10px;
    padding: 40px;
    border-radius: 50%;
    top: 15px;
    z-index:  9;
}
.em-icon:hover { 
    cursor: pointer;
}

.em-icon-grey {
    background: transparent;
}

.em-icon span {
  display: block;
  height: 5px;
  width: 33px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  left: 23px;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.em-icon span:first-child {
  top: 28px;
}

.em-icon span:nth-child(2) {
  top: 37px;
}

.em-icon span:last-child {
  top: 46px;
}

.em-icon--active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 37px;
}

.em-icon--active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 37px;
}

.em-icon--active span:nth-child(2) {
  opacity: 0;
}

/* Navigation */
.anchor-nav {
 /*  display: none; */
    position: relative;
    top:100px;
}

.anchor-nav li.active {
  background:#464647 !important;
  transition-timing-function: ease-in;
  transition: 0.2s;
  color:#333333;
  position: relative;
  transition: left 0.5s ease;
 transition: width 0.5s ease;
    left: -15px;
    width: 100%;

}

.anchor-nav li:hover {
   background: rgba(0, 0, 0, 0.7);
  transition-timing-function: ease-in;
  transition: 0.2s;
  color:#333333;
  position: relative;
  transition: left 0.5s ease;
 transition: width 0.5s ease;
    left: -15px;
    width: 100%;
    cursor:pointer;

}
.anchor-nav ul li {
  list-style-type:none;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 40px;
  margin-bottom:2px;
}
.anchor-nav ul {
  padding:0px !important;
}
.anchor-nav .right-nav {
    margin-right:10px;
}
.anchor-nav ul li a {
  text-decoration: none;
  font-family:lato;
  color:#ffffff;
}
.right_nav {
  right:0px;
  position: fixed;
  height: 100%;
  background: transparent;
  z-index: 1;
  top:0px;
  float: right;
}


/*Fonts */
.slide h2 {
	font-weight: 700 !important;
}
.font-open-sns {
	font-family: open sans !important;
}
.font-large {
	font-size:46px !important;
}
.font-medium {
	font-size:36px !important;
}
.font-small {
	font-size:20px !important;
}
.em-bold {
	font-weight: 700 !important;
}
.content-title {
	position: absolute;
	bottom: 10px;
	left: 40px;
	font-weight: 700;
	color:#fff;
}
/* Aligns */

.text-center {
	text-align: center;
}

/* Colors */

.em-white {
	color:#fff !important;
}


/* Images/ Backgrounds */

.bg-img {
	width:100%;
	height: 100%;
	max-width: unset;
	position: absolute;
	top: 0;
	left: 0;
}
.bg-img-1 {
	width:100%;
	height: 100%;
	max-width: unset;
	position: absolute;
	top: 0;
	right: 0;
}
.sticky-img-1 {
	width:50%;
	float:left;
	position: fixed;
	top:20%;

}
.rock-1-1 {
	position: fixed;
	left: 40%;
	top:5%;
}
.rock-1-2 {
	position: fixed;
	left: 33%;
	top:26%;
}
.rock-1-3 {
	position: fixed;
	left: 38%;
	top:30%;
}
.rock-3-1 {
	position: fixed;
	top: 13%;
    left: 53%;
}
.rock-3-2 {
	position: fixed;
	top: 30%;
    left: 39%;
}
.rock-3-3 {
	position: fixed;
    top: 65%;
    left: 21%;
}
.rock-3-4 {
	position: fixed;
    top: 43%;
    left: 54%;
}
.rock-3-5 {
	position: fixed;
    top: 58%;
    left: 47%;
}
.rock-4-1 {
	position: fixed;
	top: 13%;
    left: 80%;
    z-index: 9999;
}
.rock-4-2 {
	position: fixed;
	top: 13%;
    left: 53%;
    z-index: 9999;
}
.em-gallery {
	position: relative;
	left: 9%;
}
.gal-img {
	position: absolute;
}
.gal-img-1 {
    top: 119px;
    left: -138px;

}
.gal-img-2 {
    top: 258px;
    left: 245px;
    z-index: 99;
}
.gal-img-3 {
    top: 198px;
    left: 663px;
    z-index: 999;
}
.gal-img-4 {
    top: 69px;
    left: 322px;
    z-index: 99;
}
.sticky {
	position: absolute;
}
.bg-white {
	background: #fff !important;
}

/* Buttons */

.btn-gray {
	background: #333333;
	color:#fff;
	font-size: 20px;
	padding: 8px 20px;
}

.btn-gray:hover {
	background: #232323;
	color:#fff;
	cursor: pointer;
}

/* Divider */
.large-divider {
	height:2px;
	width:60%;
}

.medium-divider {
	height:2px;
	width:20%;
}

/* Spacer */

.spacer-top-big {
	margin-top: 18%;
}
.spacer-top-medium {
	margin-top: 10%;
}
.spacer-top-small {
	margin-top: 22px;
}
.spacer-top-x-small {
	margin-top: 8px !important;
}
.spacer-bottom-small {
	margin-bottom: 40px;
}

/* List */

.the-list li {
	font-family: open sans !important;
	font-size:20px !important;	
	list-style-type: none;
	margin-bottom: 4px;
}

/* Positions */

.about-img {
	position: absolute;
    z-index: 999;
    margin-top:15%;
}
.content {
	position: absolute;
	padding-right: 40px;
}

/* Icons */

.ico-check li:before {
	content: "\f00c";
	font-family: fontAwesome;
	font-size: 20px;
	margin-right: 12px;
}

/* Divisions */

.slide-3-content {
	position: absolute;
	top: 12%;
    left: 10%;
}
.slide-3-content-1 {
	position: fixed;
    width: 50%;
    float: right;
    top: 21%;
    right: 2%;

}

.slide-3-img-wrap {
	position: absolute;
	position: absolute;
    width: 40%;
    right: 10%;
    top:12%;
}
.slide-3-imgs {
	position: absolute;
}
.slide-3-img-1 {
    transform: rotate(-10deg);
    z-index: 99;
}
.slide-3-img-2 {
	left: 149px;
    top: 28px;
    transform: rotate(9deg);
}
.slide-3-img-3 {
    left: 283px;
    top: 58px;
    transform: rotate(4deg);
    width: 32%;
}
.slide-3-img-4 {
    left: 370px;
    top: 153px;
    transform: rotate(4deg);
}
.slide-3-img-5 {
    left: 15px;
    top: 257px;
    transform: rotate(4deg);
    z-index: 99;
}
.slide-3-img-6 {
    left: 253px;
    top: 358px;
    transform: rotate(4deg);
}

/* Division Element */
.slide-3-p {
	margin-bottom: 27px;
}
.slide-3-p p {
	font-family: open sans !important;
	font-size: 20px !important;
    line-height: 19px !important;
}

.test {
	height: 2000px;
	background: #333;
}
.f-left {
	height: 100px;
	top: 500px;
	position: relative;
}
.f-left h1 {
	color: #fff !important;
}

/* Mouse Scroll Icon */

.mouse-scroll-icon {
	position: fixed;
    z-index: 999999999;
	bottom: 2%;
    right: 2%;
}
/*.mouse-scroll-icon:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 112px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 113px solid #fff;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}*/
 .mouse-scroll-icon a {
 	color:#fff;
 	font-family: open sans;
 	font-size: 13px;
 	font-weight: 700;
 }

 .icon-divider {
 	width: 100%;
 	height: 2px;
 	background: #fff;
 	margin-top: 10px;
 }
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;
  
}
  .mouse {
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #FFF;
    border-radius: 23px;
    
}
    .mouse-movement { 
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: #FFF;
      border-radius: 50%;
      -webkit-animation: scroll-ani 2s linear infinite;
      -moz-animation: scroll-ani 2s linear infinite;
      animation: scroll-ani 2s linear infinite;
    }
    
  }
    

  .mouse-message { 
      float: left;
      margin: -200px 0 0 7px;
      padding: 0;
      -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
  }

  .mouse-scroll-icon a:hover, .mouse-scroll-icon a:active, .mouse-scroll-icon a:focus {
  	color:#fff;
  	text-decoration: none;
  }
